---
import { getCollection, render } from 'astro:content'
import { Image } from 'astro:assets'
import Trip from '../common/Trip.astro'
import Tripmap from '../common/Tripmap.astro'

const trips = await getCollection('trip', ({ data }) => {
  return data.draft !== true
})
const trip = trips[0]
const { Content } = await render(trip)

const posts = await getCollection('post', ({ data }) => {
  return data.draft !== true
})
const sortedPosts = posts.sort((a, b) => +a.data.date - +b.data.date)
---

<Trip trip={trip}>
  <div class="mx-auto mb-6 px-12 pb-6 bg-white max-w-4xl relative z-10 lg:px-24">
    <div class="pt-6 prose prose-sm sm:prose lg:prose-lg">
      <Content />
    </div>
  </div>
  {
    sortedPosts.map((post, i) => (
      <div class="mx-auto mb-4 px-6 py-4 rounded-lg bg-rose-50 container grid grid-cols-1 shadow-md shadow-neutral-300 lg:grid-cols-2">
        <div class="h-52 relative lg:h-auto md:h-72">
          <a href={`${import.meta.env.BASE_URL}` + post.id}>
            <Image
              src={post.data.image}
              width={1024}
              class="p-4 bg-white h-full w-full inset-0 absolute object-cover hover:bg-pink-200"
              alt={post.data.title}
            />
          </a>
        </div>
        <div
          class="px-6 py-12 flex items-center justify-center order-last lg:p-32 md:p-16"
          class:list={[i % 2 == 0 && 'lg:order-first']}
        >
          <div>
            <a href={`${import.meta.env.BASE_URL}` + post.id}>
              <h3 class="text-4xl text-black leading-tight font-display mb-6 hover:text-pink-700">
                {post.data.title}
              </h3>
            </a>
            <div class="text-neutral-600 my-2 flex items-center">
              <span class="i-fa6-solid-location-arrow h-4 w-4" aria-hidden="true" />
              <span class="ml-1 mr-4">{post.data.location}</span>
              <span class="i-fa6-solid-calendar-days h-4 w-4" aria-hidden="true" />
              <span class="ml-1">
                {new Date(post.data.date).toLocaleString('en-AU', {
                  dateStyle: 'long',
                  timeStyle: 'short',
                  timeZone: post.data.timezone
                })}
              </span>
            </div>
            <p>{post.data.description}</p>
            <a
              href={`${import.meta.env.BASE_URL}` + post.id}
              class="text-sm text-white tracking-widest font-heading mt-4 px-8 py-4 rounded-md bg-pink-700 inline-block focus-visible:outline-2 focus-visible:outline-rosely-orchid focus-visible:outline-offset-2 hover:bg-pink-800"
              aria-label={`Read: ${post.data.title}`}
            >
              Read
            </a>
          </div>
        </div>
      </div>
    ))
  }
  <Tripmap />
  <div class="giscus mx-auto max-w-4xl"></div>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="travelens/Discussions"
    data-repo-id="R_kgDOJKp7SA"
    data-category="General"
    data-category-id="DIC_kwDOJKp7SM4CU7c2"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    crossorigin="anonymous"
    async></script>
</Trip>
