---
import { SiteMetadata, NavigationLinks, Websites } from "../config"
---
<div
class="bg-pink-100 text-gray-800 text-opacity-50 font-semibold text-xs tracking-widest px-12"
>
<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-6 py-12">
  <div>
    <div class="text-gray-900 text-4xl font-display">travelens</div>
  </div>
  <div>
    <div class="font-display text-gray-900 text-sm tracking-widest mb-6">
      Voyages
    </div>
      {NavigationLinks.map(link => (
        <a href={link.href} class="block mb-4 hover:text-pink">{link.name}</a>
      ))}
  </div>
  <div>
    <div class="font-display text-gray-900 text-sm tracking-widest mb-6">
      Other Sites
    </div>
    {Websites.map(site => (
      <a href={site.link} class="block mb-4 hover:text-pink">{site.website}</a>
    ))}
  </div>
  <div>
    <div class="font-display text-gray-900 text-sm tracking-widest mb-6">
      Social links
    </div>
    <span class="i-fa6-brands-linkedin i-fa6-brands-facebook i-fa6-brands-instagram i-fa6-brands-github hidden">Ugly Hack</span>
    {SiteMetadata.social.map(link => (
      <a href={link.link} class="block mb-4 hover:text-pink"><span class={'w-6 h-6 mr-2 i-fa6-brands-' + link.icon} />{link.name}</a>
    ))}
  </div>
</div>
</div>
<div
class="bg-pink-200 text-neutral-600 text-sm lg:text-base text-center font-heading font-light tracking-widest uppercase p-2"
>
&copy;{new Date().getFullYear()} <a href="https://christham.net" class="hover:text-pink-600">Chris Tham</a>
</div>